<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../favicon.ico">

    <title>Cover Template for Bootstrap</title>

    <!-- Bootstrap core CSS -->
    <link href="../../dist/css/bootstrap.min.css" rel="stylesheet">

    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <link href="../../assets/css/ie10-viewport-bug-workaround.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="cover.css" rel="stylesheet">

    <!-- Just for debugging purposes. Don't actually copy these 2 lines! -->
    <!--[if lt IE 9]><script src="../../assets/js/ie8-responsive-file-warning.js"></script><![endif]-->
    <script src="../../assets/js/ie-emulation-modes-warning.js"></script>

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>
  
<body>

  <div class="main container" id="top">

  <div class="nav-header" style="height: 49px; position=fixed; top: 0px; width: 100%; background-color:red;">
    <div class="container-fluid">
            <div class="clearfix">
              <!--Menu Button-->
          	<div class = "" style ="float: left; position: relative;" > 
              <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="true" aria-controls="navbar">
                <span class="sr-only">Menu</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </button>
            </div>
             <!--Brand-->
            <div style ="margin: 0px auto; position: absolute; height: 100px; width: 100px; text-align: center; bottom:0px; top: 0px; left: 0px; right: 0px;" >
              <a class="navbar-brand" href="/">ANYA</a>
            </div>
            <!--Search and Cart-->
            <div style = " position: relative; float: right;">
            	<a href="#" style="display:block; float:left; height:44px; width:44px; margin: 5px 0px auto; position: relative; vertical-aligh: middle; ">
            	  <div>
                  <svg fill="#fff" height="32" viewBox="0 0 24 24" width="32">
                    <path d="M15.5 14h-.79l-.28-.27C15.41 12.59 16 11.11 16 9.5 16 5.91 13.09 3 9.5 3S3 5.91 3 9.5 5.91 16 9.5 16c1.61 0 3.09-.59 4.23-1.57l.27.28v.79l5 4.99L20.49 19l-4.99-5zm-6 0C7.01 14 5 11.99 5 9.5S7.01 5 9.5 5 14 7.01 14 9.5 11.99 14 9.5 14z">
                    <path d="M0 0h24v24H0z" fill="black">
                  </svg>
                </div>
            	</a>
            	<span style="display:block; float:left; height:44px; width:44px; margin: 5px 0px auto; position: relative; vertical-aligh: middle;">
            		<svg width="24px" height="24px" viewBox="0 0 512 512" style="fill: rgb(255, 255, 255); line-height: 44; margin: 9px auto 0px;">
                  <path d="M448,32H64L0,480h512L448,32z M366.062,156.406C356.875,232.063, 311.969,288,256,288s-100.875-55.938-110.063-131.594C135.438,151.188, 128,140.563,128,128c0-17.688,14.313-32,32-32s32,14.313,32,32c0, 10.938-5.844,20.125-14.25,25.906C185.5,211.375,218.188,256,256, 256c37.844,0,70.5-44.625,78.25-102.094C325.844,148.125,320,138.938, 320,128c0-17.688,14.312-32,32-32s32,14.313,32,32C384,140.563,376.594, 151.188,366.062,156.406z">
                </svg>
                <span></span>
            	</span>
            </div>
              
          </div>
          
          <!--<div id="navbar" class="navbar-collapse collapse">-->
          <!--  <ul class="nav navbar-nav navbar-right">-->

          <!--  </ul>-->
          <!--</div>-->
    </div>
  </div>
 

  
